<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content "width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Book a seat for {{ movie.title }}</h1>
    <form method="POST">
        {% srfc_token %}
        <u1>
            {% for seat in seats %}
            <li>
                <input type="radio" name="seat" value="{{ seat.id }}" {% if seat.booked %}disabled{% endif %}>
                {{ seat.seat_number }} {% if seat.booked %} - Booked{% else %} - <Available>% endif %</Available>
            </li>
            {% endfor %}
        </u1>
        <button type="submit">Confirm Booking</button>
    </form>
</body>


</html>